/* import a google font called poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;

  /*created variables for colors*/
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;

  /*for the header tag that inside the Navbar*/
}
header .container {
  /*for the container inside the Navbar*/
  max-width: 1400px;
  margin: 0 auto;
  /*centralized the content inside the column*/
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*put the space between the elements */

}
header a {
  /*for the link inside the header container*/
  color: #333;
  text-decoration: none;
}
.pages{
  /*for the pages div*/
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/*created the css for index page because finally all the javascript codes rendered under the div called "root" in the index.html file.
Then applying css to that file means applying css to the whole react project.*/


/* homepage */
.home {
  display: grid; /*display the home class as a grid*/
  grid-template-columns: 3fr 1fr; /*These are the  column properties of that grid. Workout details are printing in the left side,  
  and the right side displays a form to add new workout. Those 2 sides are devided by the these column properties*/
  gap: 100px;
}
.workout-details { /*displays workout details like a card*/
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary); /*color of the things inside the h4 tag that insides the workout-details  is --primary, which is green*/
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span { /*This is for the delete button that add later. So doesn't do anything really yet  */
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
/* new workout form */
label, input {
  display: block; /*this line is used to display labels and labels as blocks*/
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /*these changes apply only for inputs in the form*/
}
form button {
  background: var(--primary); /*change button color to primary variable color defined above*/
  border: 0; /*remove the border of the button*/
  color: #fff; /*color of the text in the button is this color*/
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer; /*change cursor to a pointer*/
}
div.error { /*these changes are added to the error dive at the bottom of the form*/
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error); /*border color of the error division is the error variable color defined above*/
  color: var(--error); /*text color in the error division is also the error variable color defined above*/
  border-radius: 4px;
  margin: 20px 0; /*margin top and bottom is 20px and left and right is 0px*/
}